@import "./Color.css";

/* src/styles/Footer.css */

.footer-fullwidth {
  background-color: var(--bg-white);
  color: var(--neutral-medium);
  padding: 2rem 0;
  border-top: 1px solid var(--border-light);
}

.footer-container-fullwidth {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.footer-top {
  margin-bottom: 2rem;
}

.footer-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
  align-items: center
}

.footer-section {
  flex: 1;
  min-width: 200px;
      justify-items: center;

}

.footer-title {
  color: var(--neutral-dark);
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.footer-description {
  color: var(--neutral-light);
  font-size: 0.875rem;
  line-height: 1.5;
}

.contact-email {
  color: var(--primary-blue);
  font-size: 0.875rem;
  text-decoration: none;
}

.contact-email:hover {
  color: var(--primary-blue-light);
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--border-medium);
}

.copyright {
  color: var(--neutral-light);
  font-size: 0.75rem;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
}

.footer-links a {
  color: var(--primary-slate);
  font-size: 0.75rem;
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--primary-slate-light);
  text-decoration: underline;
}